<header class="container">
    <div class="brand">
        <h1><a routerLink="/home">RICH-<span>POWER</span></a></h1>
    </div>
    <div class="buscar">
        <input type="search" placeholder="Buscar...">
        <button class="btn">Buscar</button>
    </div>
    <div class="buttons">
        <ng-container *ngIf="!estaLogueado">
            <button class="btn" routerLink="/login">Login</button>
            <button class="btn" routerLink="/register">Registrate</button>
        </ng-container>

        <button class="btn" *ngIf="estaLogueado" (click)="cerrarSesion()">Cerrar sesión</button>

        <button class="carrito" routerLink="/carrito" aria-label="Abrir carrito">&#128722;</button>
    </div>
</header>