<div class="container">
    <div>
        <h1><a routerLink="/home">RICH-<span>POWER</span></a></h1>
    </div>
    <div class="buscar">
        <input style="width: 350px; height: 30px;" type="search" placeholder="Buscar...">
        <button style="width: 70px; height: 30px;" class="btn">Buscar</button>
    </div>
    <div class="buttons">
        <button class="btn" routerLink="/login">Login</button>
        <button class="btn" routerLink="/register">Registrate</button>
        <button class="carrito" routerLink="/carrito">🛒</button>
    </div>
</div>
